.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  margin-bottom: 50px;
  border: 1px solid black;
}

.list-item-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 400px;
  margin-bottom: 10px;
}

.item {
  border: 1px solid red;
  height: 35px;
  width: 150px;
}

.item button {
  margin-left: 10px;
  height: 25px;
  width: 60px;
}